.navbar
  border-radius: 0

.table td
  padding: .1rem .25rem

.table th
  padding: .45rem .25rem

.blockquote
  font-size: 1rem

.usage
  .usage__section
    margin-bottom: 64px

  .usage__subSection
    margin-bottom: 48px
