doctype
html(lang='jp')
  head
    title EscapeGoat
    link(rel='stylesheet' href='/assets/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/index.css')

  body

  script(src='/assets/index.js')
