@charset "utf-8"

body
  font-family: "メイリオ", Meiryo, 'Hiragino Kaku Gothic Pro', 'MS PGothic', 'M+ 1P', sans-serif

h1,
h2,
h3
  margin-bottom: 1.6rem

.jumbotron
  background: #1E2832
  color: #ffffff
  border-radius: 0
  h1
    letter-spacing: 0.4rem

.navbar
  border-radius: 0

.bg-inverse
  background: #1E2832

.table td
  padding: .3rem .25rem

.table th
  padding: .45rem .25rem

.blockquote
  font-size: 1rem

section
  margin-bottom: 64px
  section
    margin-bottom: 48px

.Footer
  padding: 64px 0
  background: #1E2832
  color: #a5a9ad
  .fa-lg
    font-size: 2rem
    margin-bottom: .6rem
  a
    color: #a5a9ad
    text-decoration: underline
  p
    margin-bottom: 0
